@font-face {
  font-family: "GeistMono";
  src: url("./GeistMono-Regular.otf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "GeistMono";
  margin: 0;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.dark-mode .scroll-to-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  background-color: #ffffff94;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.dark-mode .scroll-to-top:hover {
  background-color: #ffffff;
  transition: ease 0.5s;
}

.dark-mode .scroll-to-top::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.light-mode .scroll-to-top {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;
  background-color: #00000094;
  font-size: 24px;
  border: 2px solid black;
  border-radius: 15%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.light-mode .scroll-to-top:hover {
  background-color: #000000;
  transition: ease 0.5s;
}

.light-mode .scroll-to-top::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.yo {
  margin-top: 1rem;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.dark-mode .navbar {
  position: sticky;
  background-color: #343a40;
  z-index: 1;
  background: url("https://www.transparenttextures.com/patterns/stardust.png");
  animation: starsFall 120s linear infinite;
  border-bottom: 2px solid rgba(255, 255, 255, 0.185);
}

@keyframes starsFall {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100vw 100vh;
  }
}

.light-mode .navbar {
  position: sticky;
  z-index: 1;
  background: url("./clouds.jpg");
  background-size: cover;
  animation: clouds 120s linear infinite;
  border-bottom: 2px solid rgba(0, 0, 0, 0.432);
}

@keyframes clouds {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 0vw -100vh;
  }
}

.navbar-brand,
.navbar-nav .nav-link {
  color: #ffffff;
}

.light-mode #offcanvasDarkNavbar {
  background-color: rgb(223, 222, 222) !important;
}

li a {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.language-switch {
  display: flex;
  align-items: center;
  justify-content: center;
}

#language-toggle {
  padding: 12px;
  border: none;
  background-color: #1c1c1c00;
}

.top {
  padding: 12px;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
  text-decoration: none;
}

.top:hover {
  background-color: #ffcc00;
  border-radius: 30px;
}

.light-mode {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: black;
}

.light-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("./fondo_claro.webp");
  opacity: 55%;
  z-index: -1;
}

.dark-mode {
  background-color: rgba(10, 10, 10, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.dark-mode::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("./fondo_oscuro.webp");
  opacity: 35%;
  z-index: -1;
}

.dark-mode h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 2px #98fb98;
}

.light-mode h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  color: black;
  text-shadow: 2px 2px 2px rgba(10, 0, 148, 0.753);
}

.dark-mode .nombreRol {
  width: fit-content;
  margin: auto;
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 40px 5px 40px 5px;
  padding: 10px;
}

.light-mode .nombreRol {
  width: fit-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 40px 5px 40px 5px;
  padding: 10px;
}

.light-mode .github {
  border: 2px solid #000000;
  color: solid #fff;
}

.dark-mode .github {
  border: 2px solid#fff;
  color: solid #000000;
}

.light-mode .btn-primary,
.light-mode #btn-submit {
  background-color: #5cb85c;
  color: black;
}

.light-mode .btn-primary:hover,
.light-mode #btn-submit:hover {
  background-color: #268326;
}

.dark-mode .btn-primary,
.dark-mode #btn-submit {
  background-color: #4b0082;
  color: #ffffff;
}

.dark-mode .btn-primary:hover,
.dark-mode #btn-submit:hover {
  background-color: #2d004e;
}

.dark-mode .global {
  width: 250px;
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 1px 25px 1px 25px;
  padding: 5px;
  margin-bottom: 10px;
}

.dark-mode .global h2 {
  margin-bottom: 0;
}

.light-mode .global {
  width: 250px;
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 1px 25px 1px 25px;
  padding: 5px;
  margin-bottom: 10px;
}

.light-mode .global h2 {
  margin-bottom: 0;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.dark-mode .presentacion {
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .presentacion {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.zoomable-image {
  border: 3px solid #000000;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  filter: blur(3px);
  transition: transform 0.3s, filter 0.3s ease;
}

.zoomable-image:hover{
  transform: scale(1.2);
  filter: blur(0);
  z-index: 1;
}

.light-mode .skill-item {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.863);
}

.dark-mode .skill-item {
  border-color: #ffffff9f;
  background-color: rgba(49, 49, 49, 0.5);
}

.light-mode .git {
  color: black;
}

.dark-mode .git {
  color: white;
}

.title {
  text-decoration: underline;
}

button#theme-toggle {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;
}

button#theme-toggle:hover {
  background-color: #777;
}

.light-mode #theme-toggle {
  background-color: rgba(46, 204, 112, 0.747);
  transition: 1s;
}

.light-mode #theme-toggle:hover {
  background-color: darkgreen;
}

#sun-icon {
  display: none;
  font-size: 20px;
}

#moon-icon {
  display: inline-block;
  font-size: 20px;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}

#theme-toggle:hover {
  transform: rotate(180deg);
  color: #ffc107;
}

#imagen {
  height: 9rem;
  width: 9rem;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 1rem;
}

#rol {
  text-align: center;
}

.dark-mode .blog {
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .blog {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.texto {
  text-align: center;
  white-space: pre-line;
}

p {
  font-size: 18px;
  text-align: justify;
  margin-top: 30px;
}

.slider {
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 25s linear infinite;
  -webkit-animation: scroll 25s linear infinite;
  width: calc(100px * 26);
  gap: 20px;
}

.slider .slide-track:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.slider .slide i {
  display: flex;
  justify-content: center;
  width: 150px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-170px * 13));
  }
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.skill-item i {
  font-size: 48px;
  margin-bottom: 10px;
}

.skill-item span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

.light-mode .links {
  color: red;
}

.light-mode .links:hover {
  color: rgba(180, 16, 16, 0.8);
}

.dark-mode .info {
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-mode .info {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dark-mode .icons {
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .icons {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.dark-mode .cv {
  background-color: rgba(49, 49, 49, 0.5);
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.light-mode .cv {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.cv-link {
  cursor: pointer;
}

.dark-mode .pie {
  background-color: rgba(49, 49, 49, 0.5);
  border-top: 2px solid #ffffff9f;
  padding: 20px;
}

.light-mode .pie {
  background-color: rgba(255, 255, 255, 0.863);
  border-top: 3px solid #000000;
  padding: 20px;
}

.icons h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode .contact-form {
  background-color: rgba(49, 49, 49, 0.5);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.light-mode .contact-form {
  background-color: transparent;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form textarea {
  resize: none;
}

.dark-mode .contact-form button[type="submit"],
.dark-mode .contact-form button[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #ffffff9f;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.light-mode .contact-form button[type="submit"],
.light-mode .contact-form button[type="button"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: 3px solid #000000;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form button[type="submit"]:hover,
.contact-form button[type="button"]:hover {
  background-color: #0056b3;
}

.navbar-toggler {
  display: block;
  border: none;
  margin-right: 15px;
}

.navbar-nav {
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.click:active {
   transition: 0.01s !important;
   transform: scale(0.95) !important;
}

.dark-mode .navbar-nav .nav-item {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgba(82, 81, 81, 0.432);
  border-radius: 10px;
  text-align: center;
}

.dark-mode .navbar-nav .nav-item:hover {
  transition: 0.5s;
  background-color: rgba(82, 81, 81, 0.877);
}

.dark-mode .navbar-nav .nav-item:not(:hover){
  transition: 0.5s;
  background-color: rgba(82, 81, 81, 0.432);
}

.light-mode .navbar-nav .nav-item {
  margin-top: 10px;
  margin-bottom: 5px;
  background-color: rgba(46, 204, 112, 0.747);
  border-radius: 10px;
  text-align: center;
}

.light-mode .navbar-nav .nav-item:hover {
  transition: 0.5s;
  background-color: darkgreen;
}

.light-mode .navbar-nav .nav-item:not(:hover){
  transition: 0.5s;
  background-color: rgba(46, 204, 112, 0.747);
}

.dark-mode #close {
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #fff !important;
}

.light-mode #close {
  position: absolute;
  top: 7%;
  right: 7%;
  background-color: transparent;
  border: 0;
  font-size: 1.5rem;
  line-height: 1;
  color: #212529 !important;
}

@media (max-width: 417px) {
  .offcanvas {
    width: 80% !important;
  }

  .nav li:before {
    content: unset;
    position: unset;
    top: unset;
    right: unset;
    transform: unset;
    height: unset;
    width: unset;
    background-color: unset;
    border-radius: unset;
    opacity: unset;
    transition: unset;
  }

  .nav li:hover:before {
    opacity: unset;
    transform: unset;
  }

  .nav a {
    color: unset;
    position: unset;
    cursor: unset;
  }

  .nav a:hover {
    color: unset;
  }

  .nav a:hover:before {
    background-color: unset;
  }

  .top:hover {
    background-color: unset;
    border-radius: unset;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
    filter: blur(0px);
  }

  .zoomable-image:hover {
    transform: unset;
    z-index: unset;
    filter: blur(0px);
  }

  .certificate-grid img:hover {
    transform: unset;
  }
}

@media (min-width: 490px) {
  .icons h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 491px) and (max-width: 858px) {
  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }

  .top:hover {
    background-color: unset;
    border-radius: unset;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
    filter: blur(0px);
  }

  .zoomable-image:hover {
    transform: unset;
    z-index: unset;
    filter: blur(0px);
  }

  .certificate-grid img:hover {
    transform: unset;
  }

  .icons h2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 859px) and (max-width: 991px) {
  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }

  .top:hover {
    background-color: unset;
    border-radius: unset;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .navbar {
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .certificate-grid img {
    width: 100%;
    height: auto;
    border: 5px solid #000000;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
    filter: blur(0px);
  }

}

@media (max-width: 991px) {
  #imagen {
    margin-left: 0% !important;
  }

  .cargo {
    padding: 0% !important;
  }

  #logo {
    width: 35px !important;
    height: 53px !important;
  }

  .slider .slide-track:hover {
    animation-play-state: unset;
    -webkit-animation-play-state: unset;
  }

  .light-mode::before {
    opacity: 75%;
  }

  .light-mode #theme-toggle:hover {
    background-color: rgba(46, 204, 112, 0.747);
  }

  .zoomable-image:hover {
    transform: unset;
    z-index: unset;
    filter: blur(0px);
  }
}

@media (min-width: 992px) and (max-width: 1320px) {
  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }

  .top:hover {
    background-color: unset;
    border-radius: unset;
  }

  .navbar {
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .certificate-grid img:hover {
    transform: unset;
  }
}
