.certificate-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.certificate-grid img {
  width: 100%;
  height: auto;
  border: 5px solid #000000;
  transition: transform 0.3s;
}

.certificate-grid img:hover {
  transform: scale(1.3);
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  padding: 10px;
  z-index: 999;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #1c1c1c;
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  padding: 10px;
  border-radius: 20px;
}

.nav li {
  position: relative;
}

.nav li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav li:hover:before {
  opacity: 1;
  transform: translate(0, -50%);
}

.nav a {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.nav a:hover {
  color: #ffcc00;
}

.nav a:hover:before {
  background-color: #ffcc00;
}

.language-switch {
  margin-left: 20px;
}

#language-toggle {
  padding: 12px;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
}

#language-toggle:hover {
  background-color: #ffcc00;
  border-radius: 30px;
}

.top {
  padding: 12px;
  background-color: #1c1c1c;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
  text-decoration: none;
}

.top:hover {
  background-color: #ffcc00;
  border-radius: 30px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.light-mode {
  background-image: url("./fondo_claro.webp");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: black;
}

.dark-mode {
  background-image: url("./fondo_oscuro.webp");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
}

.dark-mode h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: linear-gradient(
    to bottom,
    #ff4d4d,
    #ff944d,
    #ffd24d,
    #aaff4d,
    #4dff4d,
    #4dffa6,
    #4dd2ff,
    #4d4dff,
    #a64dff,
    #ff4dff,
    #ff4da6
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: rainbowEffect 5s linear infinite;
  background-size: 100% 200%;
}

.light-mode h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  background: linear-gradient(
    to bottom,
    #ff4d4d,
    #ff944d,
    #ffd24d,
    #ffcc00,
    #a64dff,
    #ff4da6
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbowEffect 10s linear infinite;
  background-size: 100% 200%;
}

@keyframes rainbowEffect {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 200%;
  }
}

.dark-mode .nombreRol {
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .nombreRol {
  width: fit-content;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.light-mode #github {
  border: 3px solid #000000;
  color: solid #fff;
}

.dark-mode #github {
  border: 2px solid#fff;
  color: solid #000000;
}

.dark-mode .presentacion {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .presentacion {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.zoomable-image {
  border: 3px solid #000000;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.zoomable-image:hover:not(.zoomed-image) {
  transform: scale(1.2);
  z-index: 1;
}

.zoomed-image {
  object-fit: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 85%;
  z-index: 9999;
  pointer-events: none;
}

.light-mode .skill-item {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.863);
}

.dark-mode .skill-item {
  border-color: white;
  background-color: black;
}

.light-mode .cel {
  color: black;
}

.dark-mode .cel {
  color: white;
}

.light-mode .git {
  color: black;
}

.dark-mode .git {
  color: white;
}

.title {
  text-decoration: underline;
}

button#theme-toggle {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;
}

button#theme-toggle:hover {
  background-color: #777;
}

#sun-icon {
  display: none;
  font-size: 20px;
}

#moon-icon {
  display: inline-block;
  font-size: 20px;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}

#theme-toggle:hover {
  transform: rotate(180deg);
  color: #ffc107;
}

#imagen {
  height: 10rem;
  width: 10rem;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 1rem;
}

#rol {
  text-align: center;
}

.dark-mode .blog {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .blog {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.dark-mode .actualidad {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
}

.light-mode .actualidad {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 5px;
}

.texto {
  text-align: center;
  white-space: pre-line;
}

p {
  font-size: 18px;
  text-align: justify;
  margin-top: 30px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.skill-item i {
  font-size: 48px;
  margin-bottom: 10px;
}

.skill-item span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

.light-mode .links {
  color: red;
}

.light-mode .links:hover {
  color: rgba(180, 16, 16, 0.8);
}

.dark-mode .info {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-mode .info {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons ul {
  font-size: 25px;
}

.dark-mode .container.icons {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .container.icons {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 30px;
}

.dark-mode .cv {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.light-mode .cv {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.cv-link {
  cursor: pointer;
}

.dark-mode .pie {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .pie {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

@media (max-width: 417){
  .yo{
    margin-top: 200px;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .show-on-desktop {
    display: none;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomable-image:hover:not(.zoomed-image) {
    transform: unset;
    z-index: unset;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
  .certificate-grid img:hover {
    transform: unset;
  }
}

@media (min-width: 418) and (max-width: 858px) {

  .yo{
    margin-top: 150px;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .show-on-desktop {
    display: none;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomable-image:hover:not(.zoomed-image) {
    transform: unset;
    z-index: unset;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
  .certificate-grid img:hover {
    transform: unset;
  }
}

@media (min-width: 859px) and (max-width: 991px) {

  .yo{
    margin-top: 150px;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .certificate-grid img {
    width: 100%;
    height: auto;
    border: 5px solid #000000;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
}

@media (min-width: 992px) and (max-width: 1320px) {

  .yo{
    margin-top: 150px;
  }

  .navbar {
    flex-wrap: wrap;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }
  
  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .certificate-grid img:hover {
    transform: unset;
  }
}
