@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', serif;
  margin: 0;
}

.yo {
  margin-top: 1rem;
}

.certificate-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.certificate-grid img {
  width: 100%;
  height: auto;
  border: 5px solid #000000;
  transition: transform 0.3s;
}

.certificate-grid img:hover {
  transform: scale(1.3);
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1c1c1c;
  padding: 10px;
  z-index: 999;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  
  padding: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 10px;
  border-radius: 20px;
}

.nav li {
  position: relative;
}

.nav li:before {
  content: "";
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  height: 8px;
  width: 8px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav li:hover:before {
  opacity: 1;
  transform: translate(0, -50%);
}

.nav a {
  color: #fff;
  position: relative;
  cursor: pointer;
}

.language-switch {
  margin-left: 20px;
}

#language-toggle {
  padding: 12px; 
  border: none;
  background-color: #1c1c1c00;
  border-radius: 4px;
  transition: background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
}

#language-toggle:hover {
  background-color: #ffcc00;
  border-radius: 30px;
}

.top {
  padding: 12px;
  border: none;
  color: #fff;
  border-radius: 4px;
  transition: background-color 0.7s ease-in-out, border-radius 0.7s ease-in-out;
  text-decoration: none;
}

.top:hover {
  background-color: #ffcc00;
  border-radius: 30px;
}

.light-mode { 
  background-color:  black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: black;
}

.light-mode::before {
  content:"";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("./fondo_claro.webp");
  opacity: 45%;
  z-index: -1;
}
.dark-mode {
  background-color: rgba(10, 10, 10, 1);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: white;
 }

.dark-mode::before {
  content:"";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-image: url("./fondo_oscuro.webp");
  opacity: 35%;
  z-index: -1;
}

.dark-mode h2{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold; 
  color:white;
  text-shadow: 2px 2px 2px rgba(252, 248, 4, 0.877) ;
}

.light-mode h2 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold; 
  color:black;
  text-shadow: 2px 2px 2px rgba(10, 0, 148, 0.753) ;
}

.dark-mode .nombreRol {
  width: fit-content;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 10px;
}


.light-mode .nombreRol {
  width: fit-content;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 10px;
}

.light-mode #github {
  border: 3px solid #000000;
  color: solid #fff;
}

.dark-mode #github {
  border: 2px solid#fff;
  color: solid #000000;
}

.dark-mode .global {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 5px;
  margin-bottom:10px;
}

.dark-mode .global h2 {
  margin-bottom: 0;
}
.light-mode .global {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 5px;
  margin-bottom:10px;
}

.light-mode .global h2 {
  margin-bottom: 0;
}
.dark-mode .presentacion {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .presentacion {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.zoomable-image {
  border: 3px solid #000000;
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: transform 0.3s;
}

.zoomable-image:hover:not(.zoomed-image) {
  transform: scale(1.2);
  z-index: 1;
}

.zoomed-image {
  object-fit: contain;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  max-height: 85%;
  z-index: 9999;
  pointer-events: none;
}

.light-mode .skill-item {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.863);
}

.dark-mode .skill-item {
  border-color: white;
  background-color: black;
}

.light-mode .cel {
  color: black;
}

.dark-mode .cel {
  color: white;
}

.light-mode .git {
  color: black;
}

.dark-mode .git {
  color: white;
}

.title {
  text-decoration: underline;
}

button#theme-toggle {
  background-color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.5s, background-color 0.5s;
}

button#theme-toggle:hover {
  background-color: #777;
}

#sun-icon {
  display: none;
  font-size: 20px;
}

#moon-icon {
  display: inline-block;
  font-size: 20px;
}

#theme-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.5s;
}

#theme-toggle:hover {
  transform: rotate(180deg);
  color: #ffc107;
}

#imagen {
  height: 9rem;
  width: 9rem;
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 1rem;
}

#rol {
  text-align: center;
}

.dark-mode .blog {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .blog {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.texto {
  text-align: center;
  white-space: pre-line;
}

p {
  font-size: 18px;
  text-align: justify;
  margin-top: 30px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 150px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 10px;
}

.skill-item i {
  font-size: 48px;
  margin-bottom: 10px;
}

.skill-item span {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

a {
  color: #007bff;
  text-decoration: none;
}

.light-mode .links {
  color: red;
}

.light-mode .links:hover {
  color: rgba(180, 16, 16, 0.8);
}

.dark-mode .info {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.light-mode .info {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  color: #000000;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icons ul {
  font-size: 25px;
}

.dark-mode .icons {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .icons {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-top: 30px;
}

.dark-mode .cv {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.light-mode .cv {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  margin: 0 auto;
}

.cv-link {
  cursor: pointer;
}

.dark-mode .pie {
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #fff;
  border-radius: 10px;
  padding: 20px;
}

.light-mode .pie {
  background-color: rgba(255, 255, 255, 0.863);
  border: 3px solid #000000;
  border-radius: 10px;
  padding: 20px;
}

.icons h2 {
  padding-left: 3rem; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons ol {
  padding-left: 0px;
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}

@media (max-width: 417px) {
  .yo {
    margin-top: 250px;
  }

  .nav li:before {
    content: unset;
    position: unset;
    top: unset;
    right: unset;
    transform: unset;
    height: unset;
    width: unset;
    background-color: unset;
    border-radius: unset;
    opacity: unset;
    transition: unset;
  }

  .nav li:hover:before {
    opacity: unset;
    transform: unset;
  }

  .nav a {
    color: unset;
    position: unset;
    cursor: unset;
  }

  .nav a:hover {
    color: unset;
  }

  .nav a:hover:before {
    background-color: unset;
  }

  #language-toggle:hover {
    background-color: unset;
    border-radius: unset;
  }

  .top:hover {
    background-color: unset;
    border-radius: unset;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .show-on-desktop {
    display: none;
  }

  .lista {
    flex: 1;
  }

  .lista2 {
    flex: 1;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomable-image:hover:not(.zoomed-image) {
    transform: unset;
    z-index: unset;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
  .certificate-grid img:hover {
    transform: unset;
  }
}

@media (min-width: 490px){

  .icons h2 {
    padding-left: unset; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons ol {
    padding-left: 0px;
    display: flex;
    flex-direction: row;
    padding: 0;
    justify-content: center;
  }
}


@media (min-width:491) and (max-width: 858px) {

  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }
  
  .top:hover {
    background-color: unset;
    border-radius: unset;
  }
  #language-toggle {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
  }
  
  #language-toggle:hover {
    background-color:unset;
    border-radius: unset;
  }
  .yo {
    margin-top: 150px;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .show-on-desktop {
    display: none;
  }

  .navbar {
    justify-content: center;
    align-items: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  .navbar-nav {
    width: 100%;
    text-align: center;
  }

  .nav-item {
    width: 100%;
    margin-bottom: 5px;
  }

  .nav-link {
    padding: 5px 0;
  }

  .certificate-grid {
    display: block;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomable-image:hover:not(.zoomed-image) {
    transform: unset;
    z-index: unset;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
  .certificate-grid img:hover {
    transform: unset;
  }

  .icons h2 {
    padding-left: unset; 
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icons ol {
    padding-left: 0px;
    display: unset;
    flex-direction: unset;
    padding: unset;
    justify-content: unset;
  }
}



@media (min-width: 859px) and (max-width: 991px) {

  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }
  
  .top:hover {
    background-color: unset;
    border-radius: unset;
  }
  #language-toggle {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
  }
  
  #language-toggle:hover {
    background-color:unset;
    border-radius: unset;
  }
  .yo {
    margin-top: 150px;
  }

  #projects .container .row.first-project {
    display: flex;
    flex-direction: column-reverse;
  }

  #projects .container .row.first-project .col-lg-6 {
    order: 1;
  }

  #projects .container .row.first-project .col-lg-6:nth-child(2) {
    order: 2;
  }

  .navbar {
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .certificate-grid img {
    width: 100%;
    height: auto;
    border: 5px solid #000000;
  }

  .image-container {
    display: flex;
    justify-content: center;
  }

  .image-grid {
    display: block;
  }

  .image-grid img {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .zoomable-image {
    width: 100%;
    height: auto;
  }

  .zoomed-image {
    position: unset;
    top: unset;
    left: unset;
    transform: unset;
    max-width: unset;
    max-height: unset;
    z-index: unset;
    pointer-events: unset;
  }
}

@media (min-width: 992px) and (max-width: 1320px) {

  .top {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
    text-decoration: none;
  }
  
  .top:hover {
    background-color: unset;
    border-radius: unset;
  }
  #language-toggle {
    padding: 12px;
    border: none;
    color: #fff;
    border-radius: unset;
    transition: unset;
  }
  
  #language-toggle:hover {
    background-color:unset;
    border-radius: unset;
  }
  .yo {
    margin-top: 150px;
  }

  .navbar {
    align-items: center;
    justify-content: center;
    position: fixed;
    transition: transform 0.7s;
  }

  .image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  .certificate-grid img:hover {
    transform: unset;
  }
}
